body {margin:0;}

.wrapper {width:100%;padding:5px;box-sizing:border-box;}

.col-1 {width:8.33%; }
.col-2 {width:16.66%;}
.col-3 {width:24.99%;}
.col-4 {width:33.33%}
.col-5 {width:41.66%;}
.col-6 {width:50%;}
.col-7 {width:58.33%;}
.col-8 {width:66.66%;}
.col-9 {width:75%;}
.col-10{width:83.33%;}
.col-11{width:91,66%;}
.col-12{width:100%;}

[class*="col-"] {
    box-sizing:border-box;
    float:left;
}
.header {
    text-align:left;
    vertical-align:middle;
    padding:25px;
    background:rgb(212, 47, 253);
}
.header a {
    text-decoration:none;color:#fff;
}
.nav {
    list-style-type:none; padding-left:0px;
}
.nav li {
    background-color:rgb(0, 109, 128);
    padding-left:0px;
}
.nav>li>a {
    width:100%;
    padding:15px 15px 15px 25px;
    display:block;
    vertical-align:middle;
    text-align:left;
    text-decoration: none;color:#fff;
    margin-bottom:5px;
    box-sizing: border-box;
    font-size:18px;
}
.content {
    padding-left:15px;
}

@media only screen and (max-width: 600px) {

    .col-3 { width:100%;}
    .col-9 { width:100%;}
}